<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function() {
            $('#icon').click(function(){
                $('ul').toggleClass('show');
            });
        });
    </script>
    <title>Curriculo</title>
</head>
<body>
    <nav>
        <label class="logo">Menu Resposivo</label>
        <ul>
            <li><a class="active" href="#">Inicio</a></li>
            <li><a href="#">Sobre mim</a></li>
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars" aria-hidden="true"></i>

        </label>
    </nav>   
</body>
</html>